<div>
    Hallo {{ user.firstname }} {{ user.lastname }},
    hier eine Übersicht über deine offenen Aufgaben.

    Offene Aufgaben:
    <ul>
        {% for task in tasks %}
            <li>{{ task.id }}) {{ task.title }} - Fällig: {{ task.dueDate|date("d.m.Y") }}</li>
        {% endfor %}
    </ul>

</div>