{% extends 'dashboard.html.twig' %}

{% block title %}Todolist | {{ title|default('Dashboard') }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}