{% extends 'dashboard.html.twig' %}

{% block title %}Todolist | Tasks{% endblock %}
{% block body %}
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- basic table -->
        <div class="row justify-content-end">
            <div class="col-2 mb-3 justify-content-end">
                <a href="{{ path('app_tasks_add') }}" class="btn btn-primary col">Add new task</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <!-- Column -->
                            <div class="col-md-6 col-lg-3 col-xlg-3">
                                <div class="card card-hover">
                                    <div class="p-2 bg-primary text-center">
                                        <h1 class="font-light text-white">2,064</h1>
                                        <h6 class="text-white">Total Tickets</h6>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                            <div class="col-md-6 col-lg-3 col-xlg-3">
                                <div class="card card-hover">
                                    <div class="p-2 bg-cyan text-center">
                                        <h1 class="font-light text-white">1,738</h1>
                                        <h6 class="text-white">Responded</h6>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                            <div class="col-md-6 col-lg-3 col-xlg-3">
                                <div class="card card-hover">
                                    <div class="p-2 bg-success text-center">
                                        <h1 class="font-light text-white">1100</h1>
                                        <h6 class="text-white">Resolve</h6>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                            <div class="col-md-6 col-lg-3 col-xlg-3">
                                <div class="card card-hover">
                                    <div class="p-2 bg-danger text-center">
                                        <h1 class="font-light text-white">964</h1>
                                        <h6 class="text-white">Pending</h6>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                        </div>
                        <div class="table-responsive">
                            <table id="zero_config" class="table table-striped table-bordered no-wrap">
                                <thead>
                                <tr>
                                    <th>Status</th>
                                    <th>Title</th>
                                    <th>ID</th>
                                    <th>Project</th>
                                    <th>Created by</th>
                                    <th>Created at</th>
                                    <th>Due date</th>
                                    <th>Assigned to</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for task in tasks %}
                                    <tr>
                                        <td><span class="badge badge-light-warning">
                                            {% if task.status == 0 %}
                                                Open
                                            {% elseif task.status == 1 %}
                                                In Progress
                                            {% elseif task.status == 2 %}
                                                Pending
                                            {% else %}
                                                Closed
                                            {% endif %}
                                        </span></td>
                                        <td><a href="{{ path('app_tasks_edit', {id: task.id}) }}"
                                               class="font-weight-medium link">{{ task.title }}</a></td>
                                        <td><a href="{{ path('app_tasks_edit', {id: task.id }) }}"
                                               class="font-bold link">{{ task.id|format_number({min_integer_digit:8, grouping_used: false}) }}</a>
                                        </td>
                                        <td></td>
                                        <td>{{ task.createdBy.username }}</td>
                                        <td>{{ task.createdAt|date('d.m.Y') }}</td>
                                        <td>{{ task.dueDate|date('d.m.Y') }}</td>
                                        <td>{% if task.assigned %}{{ task.assigned.username }}{% else %}-/-{% endif %}</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Status</th>
                                    <th>Title</th>
                                    <th>ID</th>
                                    <th>Project</th>
                                    <th>Created by</th>
                                    <th>Created at</th>
                                    <th>Due date</th>
                                    <th>Assigned to</th>
                                </tr>
                                </tfoot>
                            </table>
                            <ul class="pagination float-right">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}